<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Contact</h2>
      <p>Please feel free to reach me.</p>
    </div>
    <div class="row aos-init aos-animate" data-aos="fade-in">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>30 Street Imam Ibn Hanifa Petite Ariana 2080 , Tunisia
          </p>
          </div>
          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p><a href="mailto:Moe.khammeri@gmail.com" target="_blank ">Moe.khammeri@gmail.com</a>
            </p>

          </div>
          <div class="phone">

            <a href="tel:+21653915372"><i class="bi bi-phone"></i></a>
            <a href="tel:+21653915372"><h4>Call:</h4></a>
            <a href="tel:+21653915372"><p>+216 53 91 53 72</p></a>
          </div>
          <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=10.178318023681642%2C36.89748618936743%2C10.194754600524904%2C36.9072667263248&amp;layer=mapnik&amp;marker=36.90237661455255%2C10.186536312103271" style="border: 1px solid black" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen=""></iframe>
        </div>
      </div>
      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form *ngIf="contactForm" [formGroup]="contactForm" method="post" class="email-form">
          <div class="row">
            <div class="form-group col-md-6"> <label for="name">Your Name</label> <input type="text" formControlName="firstName" class="form-control" id="name"></div>
          </div>
          <div class="form-group"> <label for="name">Subject</label> <input type="text" class="form-control" formControlName="subject" id="subject"></div>
          <div class="form-group"> <label for="name">Message</label><textarea class="form-control" formControlName="message" rows="10"></textarea></div>
          <div class="text-center"><a [href]="contactPayload" target="_blank">Send Message</a></div>
        </form>
      </div>
    </div>
  </div>
</section>
