<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Project Details</h2>
        <ol>
          <li><a [routerLink]="'/'">Home</a></li>
          <li>Project Details</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container" *ngIf="project">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper-container">
            <swiper class="swiper-wrapper align-items-center"
                    [config]="swiperConfig">

              <ng-template *ngFor="let img of project.imgs" swiperSlide>
                <img [src]="img" [alt]="project.title">
              </ng-template>

            </swiper>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: {{project.category}}</li>
              <li><strong>Client</strong>: {{project.client}}</li>
              <li><strong>Project date</strong>:{{project.date}}</li>
              <li><code>{{project.tags.join(' / ')}}</code></li>

            </ul>
          </div>
          <div class="portfolio-description">
            <h2>Description</h2>
            <p>
              {{project.description}} </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->
</main>
