<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p>Bits and pieces of the work achieved during my student life.</p>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Desktop</li>
          <li data-filter=".filter-web">Web</li>
          <li data-filter=".filter-card">Mobile</li>

        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/unitech_desk/unitech_espace.png" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="assets/img/unitech_desk/unitech_espace.png" data-gallery="portfolioGallery"
               class="portfolio-lightbox" title="Unitech (desktop)"><i class="bx bx-zoom-in"></i></a>
            <a [routerLink]="'/details/unitech'" fragment="main" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/unitech_web/web1.png" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="assets/img/unitech_web/web1.png" data-gallery="portfolioGallery"
               class="portfolio-lightbox" title="Unitech (Web)"><i class="bx bx-zoom-in"></i></a>
            <a [routerLink]="'/details/unitech_web'" fragment="main" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/Obladi/1.png" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="assets/img/Obladi/1.png" data-gallery="portfolioGallery"
               class="portfolio-lightbox" title="Obladi"><i class="bx bx-zoom-in"></i></a>
            <a [routerLink]="'/details/Obladi'" fragment="main" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="assets/img/unitech_mobile/mob1.png" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="assets/img/unitech_mobile/mob1.png" data-gallery="portfolioGallery" class="portfolio-lightbox"
               title="Unitech mobile"><i class="bx bx-zoom-in"></i></a>
            <a [routerLink]="'/details/unitech_mobile'" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>





    </div>

  </div>
</section><!-- End Portfolio Section -->
