<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About</h2>

    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="assets/img/profile-img.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">


        <!-- ======= Resume Section ======= -->

          <div class="resume">



            <div class="row">
              <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title" style="padding-top:25px">Computer Science Engineer</h3>
                <div class="resume-item pb-0">
                  <h4>Mohamed Khammeri</h4>
                  <p><em>Passionate about transforming ideas into products that people love to interact with. As a social entrepreneur I have gained excellent interpersonal skills as well as strong technical skills which enables me to interact with a wide range of clients. Eager to be challenged in order to grow and further to reform my IT skills to deliver exceptional outcomes.</em></p>
                  <ul>
                    <li>30 Street Imam Ibn Hanifa Petite Ariana 2080 , Tunisia</li>

                  </ul>
                </div>



              </div>




              <div class="col-lg-6" style="margin-top: 25px ">
                <br><br>
                <ul>
                  <li><i class="bi bi-calendar-event"></i> <strong>Birthday:</strong> <span>19 October 1995</span></li>
                  <li><i class="bi bi-phone"></i> <strong>Phone:</strong> <span>+216 53 915 372</span></li>
                  <li><i class="bi bi-building"></i> <strong>City:</strong> <span>Tunis, Tunisia</span></li>
                </ul>

                <ul>

                  <li><i class="bi bi-book"></i> <strong>Degree:</strong> <span>Computer science engineering</span></li>
                  <li><i class="bi bi-chat"></i> <strong>Email:</strong> <span>Moe.khammeri@gmail.com</span></li>
                  <li><i class="bi bi-wallet"></i> <strong>Freelance:</strong> <span>Not Available</span></li>
                </ul>
              </div>




            </div>

          </div>
        <!-- End Resume Section -->









      </div>

    </div>

  </div>

</section><!-- End About Section -->
