<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="assets/img/profile-img.jpg" alt="" class="img-fluid ">

      <h1 class="text-light"><a href="index.html">Mohamed Khammeri</a></h1>
      <div class="social-links mt-3 text-center">

        <a href="https://www.facebook.com/mohammed.khammeri" target="_blank" class=" facebook"><i
          class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/mohammed_khammeri/" target="_blank" class=" instagram"><i
          class="bx bxl-instagram"></i></a>
        <a href="https://wa.me/53915372" target="_blank" class=" google-plus"><i class="bx bxl-whatsapp"></i></a>
        <a href="https://www.linkedin.com/in/mohamedkhammeri/" target="_blank" class=" linkedin"><i
          class="bx bxl-linkedin"></i></a>
        <a href="https://gitlab.com/users/mohamedkhammeri/projects" target="_blank" class=" linkedin"><i
          class="bx bxl-gitlab"></i></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a>
        </li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->
