<!-- ======= Hero Section ======= -->

<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in"><br>
    <br><br>
    <br><br>
    <br><br>
    <br>
    <h1>Mohamed Khammeri</h1>
    <p>I'm <span class="typed" #typedEl></span></p>
  </div>
</section><!-- End Hero -->
