<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none" (click)="openMenu($event)"></i>
<app-header></app-header>
<app-hero></app-hero>

<router-outlet>
</router-outlet>

<app-footer></app-footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
  class="bi bi-arrow-up-short"></i></a>
